html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{ 
  margin:0;
/*   width:100vw; */
  font-family: 'Lato', sans-serif;
}

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

/* TODO: Remove white space to the right of masthead */
.demo .large-header {
   /*background-image: url('../boardwalk_fern_portrate.jpg');*/
   background-image: url('../Fern_boardwalk_forest_landscape.jpg');
   margin: 0;
   padding: 0;
   left: 0;
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
   text-shadow: 3px 5px 5px rgba(0,0,0,.7);
}

.demo .main-title {
/*    text-transform: uppercase; */
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

/* #masthead-content {
  color: white;
  font-size: 20vh;
  position: relative;
  text-shadow: 2px 5px 5px rgba(0,0,0,.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
} */

/* .td-bio {
  width: 50%;
  height: 50%;
  text-align: center;
  background: blue;
  border-color: red;
  overflow-auto;
} */

#content-container {
  position: absolute;
  top: 100vh;
  width: 100%;
  padding: 30px;
  height: 200vh;
}

.polyBackground {
  width: 100%;
  height: 200vh;
}

#bio-container {
  display: grid;
/*  margin-top: 15vh;
  margin-bottom: 15vh;*/
  margin: 2.5%;
  grid-template-rows: 40vh;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 95%;
  background: rgb(255,255,255,.3);
  border-radius: 20vh 3vh 3vh 20vh;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2vh;
}

.bio-elem {
  grid-row: 1;
  justify-self: left;
  align-self: center;
}

#headShot {
  z-index: 1;
  width: 40%;
  height: auto;
  border-radius: 20vh;
}

#mission {
  color: white;
  opacity: .8;
  font-size: 4vw;
  letter-spacing: .05em;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  border-radius: 2vw;
  padding: .5em 0 .5em .75em;
  /*   background-color: rgb(0,0,0,.5); */
}

#proj-container{
  position: relative;
  margin: 2.5vw;
}

#proj-grid{
  display: grid;
  /*background-color: red;*/
  overflow: hidden;
  /*height: 40vh;*/
  width: 100%;
  grid-template-rows: fit-content(40vh) fit-content(40vh);
  grid-template-columns: 1fr 1fr;
}

.proj-cell {
  justify-self: center;
  /*background-color: blue;*/
  overflow: hidden;
  width: 100%;
  height: auto;
}

.proj-pic {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 3;
  margin-bottom: -1em;
  vertical-align: middle;
}

.proj-pic:hover {
  opacity: 0;
  transition:1s;
}

.proj-gif {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  margin-top: -100%;
}

.align-bottom {
  /*bottom: 0;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 40vh;*/

  /*    
  margin-top: -100%;
  vertical-align: bottom;
  display: flex;
  */
}

.section-heading {
  color: white;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0 ;
  left: 0;
  padding: 1rem;
/*   height: ; */
  background-color: rgb(0,0,0,.3);
  color: white;
  text-align: center;
}