html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{ 
  margin:0;
  /*min-height: 100%;*/
  /*overflow: hidden;*/
  font-family: 'Lato', sans-serif;
  background: #444;
  /*background: #eee;*/
}

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.demo .large-header {
  /*background-image: url('../resources/Fern_boardwalk_forest_landscape.jpg');*/
  background-image: url('../resources/masthead-interleaved.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  left: 0;
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
   text-shadow: 3px 5px 5px rgba(0,0,0,.7);
}

.demo .main-title {
/*    text-transform: uppercase; */
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

#content-container {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px;
  height: auto;
  overflow: hidden;
}
.polyBackground {
  position: absolute;
  top: 100%;
  width: 100%;
  /*height: 400vh;*/
  z-index: -1;
}

/*@media only screen and (max-width: 1300px) {
  .polyBackground {
    height: 255vh;
  }
  #content-container {
    height: 255vh;
  }
}*/

/*@media only screen and (max-width: 1200px) {
  .polyBackground {
    height: 260vh;
  }
  #content-container {
    height: 260vh;
  }
}*/

/*@media only screen and (max-width: 768px) {
  .polyBackground {
    height: 230vh;
  }
  #content-container {
    height: 230vh;
  }
}*/

#bio-container {
  display: grid;
  grid-template-rows: 40vh;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 95%;
  background: rgb(255,255,255,.3);
  border-radius: 20vh 3vh 3vh 20vh;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2vh;
}

.bio-elem {
  grid-row: 1;
  justify-self: left;
  align-self: center;
}

#headShot {
  z-index: 1;
  width: 40vh;
  height: auto;
  border-radius: 20vh;
}

@media only screen and (max-width: 768px) {
   #headShot {
      width: 150px;
   }
   #bio-container {
      grid-template-rows: 30vh;
      /*margin-top: 10vh;
      margin-bottom: 10vh;*/
   }
}

#mission {
  color: white;
  opacity: .8;
  font-size: 4vw;
  letter-spacing: .05em;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  border-radius: 2vw;
  padding: .5em 0 .5em .75em;
  /*   background-color: rgb(0,0,0,.5); */
}

@media only screen and (min-width: 1550px) {
  #mission {
    font-size: 3vw;
  }
}

#skills-container {
  display: grid;  grid-template-rows: 20vh 20vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 3vh;
  column-gap: 1vw;
  width: 95%;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  /*background-color: rgb(100,100,100,.5);*/
}

@media only screen and (max-width: 768px) {
  #skills-container {
      height: 20vh;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.skill {
  height: auto;
  width: 50%;
  justify-self: center;
}

#proj-container{
  position: relative;
  margin: 10vh 2.5vw 2.5vw 2.5vw;
}

#proj-grid{
  display: grid;
  background-color: rgb(50,50,50,.1);
  overflow: hidden;
  width: 100%;
  /*grid-template-rows: fit-content(40vh) fit-content(40vh) fit-content(40vh);*/
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

/*@media only screen and (max-width: 1000px) {
  #proj-grid {
      height: 100vh;
      grid-template-rows: 30vh 30vh 30vh;
  }
}

@media only screen and (max-width: 768px) {
  #proj-grid {
      height: 100vh;
      grid-template-rows: 18vh 18vh 18vh;
  }
}*/

.proj-cell {
  justify-self: center;
  /*background-color: blue;*/
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}



.proj-underlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(50,50,50,.85);
  color: white;
  z-index: 2;
  padding: 2vw 5vw 2vh 5vw;
  font-size: 1px;
  vertical-align: middle;
}

.proj-underlay-text {
  text-align: justify;
  text-justify: inter-word;
}

.wrapper {
  position: relative;
  height: 50%;
  text-align: center;
}

.proj-pic {
  /*object-fit: cover;*/
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 4;
  margin-bottom: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.proj-pic:hover {
  opacity: 0;
  transition:1s;
}

.proj-gif {
  position: absolute;
  width: 100%;
  /*display: block;*/
  height: auto;
  z-index: 0;
  top: 0;
  left: 0;
  /*margin-top: -100%;*/
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
}

/* Company */
.co {
  background: rgb(50,50,50);
  height: 100%;
  /*margin: 0;*/
  margin: auto;
  z-index: 5;
}

.align-bottom {
  /*bottom: 0;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 40vh;*/

  /*    
  margin-top: -100%;
  vertical-align: bottom;
  display: flex;
  */
}

.section-heading {
  color: white;
}

#footer {
  position: relative;
  display: block;
/*  right: 0;
  bottom: 0 ;
  left: 0;*/
  padding: 1rem;
  background-color: rgb(0,0,0,.75);
  color: white;
  font-size: 1.25em;
  text-align: center;
  min-height: 30vh;
}

.contact-icons {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1vh;
}

.contact-icon {
  width: 2.25em;
  height: 2.25em;
  border: 2px;
  border-color: white;
}